@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, emerald;
}



@theme {
    --text-sm: 16px;
    --text-base: 20px;
    --text-lg: 24px;
    --text-xl: 28px;
}

@plugin "daisyui/theme" {
    name: "emerald";
    --color-base-content: oklch(48% 0.032 262);
}